<div>
    <header class="flex flex-col bg-green-600 border-b-2 border-green-800/40 text-green-900 p-3 rounded-t-md text-center">
        <h3 class="font-bold">{{birdSpot.comName+' ('+birdSpot.speciesCode+')'}}</h3>
        <h4>{{birdSpot.sciName}}</h4>
    </header>
    <div class="px-3 text-right divide-y-2 flex flex-col">
        <div class="flex flex-row gap-x-1 py-3">
            <h4 class="font-bold capitalize">Location: </h4>
            <div class="flex flex-col self-end">
                <p>{{birdSpot.locName}}</p>
                <p>{{'('+birdSpot.lat+', '+birdSpot.lng+')'}}</p>
            </div>
        </div>
        <div *ngIf="birdSpot.howMany" class="flex flex-row gap-x-1 py-3">
            <h4 class="font-bold capitalize">Amount: </h4>
            <div class="flex flex-col self-end">
                <p>{{birdSpot.howMany}}</p>
            </div>
        </div>
        <div class="flex flex-row gap-x-1 py-3">
            <h4 class="font-bold capitalize">Date: </h4>
            <div class="flex flex-col self-end">
                <p>{{birdSpot.obsDt}}</p>
            </div>
        </div>
    </div>
</div>
